<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="CONTEXT_NAME" value="logback-test"/>
    <contextName>${CONTEXT_NAME}</contextName>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>
    <root>
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>